<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480827174405-jvcs0o6vq0g74b1mreij7a13bjbj5m5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480827174405-jvcs0o6vq0g74b1mreij7a13bjbj5m5m</string>
	<key>API_KEY</key>
	<string>AIzaSyCj5eGVCbMtY2sAdE_xB32S7p2iLZOV2Xw</string>
	<key>GCM_SENDER_ID</key>
	<string>480827174405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.sasaki.sumi</string>
	<key>PROJECT_ID</key>
	<string>sumi-30271</string>
	<key>STORAGE_BUCKET</key>
	<string>sumi-30271.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480827174405:ios:d20d6fc6870bca0318366c</string>
	<key>DATABASE_URL</key>
	<string>https://sumi-30271.firebaseio.com</string>
</dict>
</plist>